*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    display: block;
    border: 1px solid #333;
    padding: 5px;
    margin: 5px 0px;
}
.auth{
    width: 450px;
    margin: 200px auto 0px;
}
.profile{
    text-align: center;
    width: 400px;
    margin: 200px auto 0px;

    img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }
}
p.error{
    color: red;
}
p.success{
    color: green;
}
.menu{
    width: 500px;
    margin: 50px auto 100px;

    ul{
        li{
            list-style: none;
        }
        a{
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #fff;
            background-color: #000;
            margin-bottom: 4px;
        }
    }
}
